$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)
$orange: hsl(26, 100%, 55%);
$dark_grayish_blue: hsl(219, 9%, 45%);
$very_dark_blue: hsl(220, 13%, 13%);

div.header {
  width: 100%;
  min-height: 6rem;
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  background: $white;
  z-index: 999;
  position: relative;

  //

  h1 {
    display: none;
  }
  div.header__container {
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    position: relative;

    //
    img.menu {
      width: 3.2rem;
      height: 3.2rem;

      padding: .8rem;
      margin-right: .8rem;
      cursor: pointer;

      transition: .2s ease;
    }
    img.logo {
    }
    //
    div.cart {
      position: relative;

      img.cart {
        width: 3.4rem;
        height: 3.4rem;
        cursor: pointer;

        margin-right: 1.6rem;
        padding: .5rem;

        filter: hue-rotate(60deg) brightness(0%);
      }

      div.cart-count {
        padding: .2rem .8rem;
        position: absolute;
        top: -.25rem;
        right: 1.4rem;

        background: $orange;
        border-radius: 1rem;

        color: white;
        font-weight: 700;
      }
    }
    img.profile {
      width: 3.4rem;
      height: 3.4rem;
      cursor: pointer;
      border: .2rem solid transparent;
      border-radius: 100%;

      transition: .2s ease;

      &:hover {
        border: .2rem solid $orange;
      }
    }
  }
  div.header__nav {
    width: 0;
    z-index: 999;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    transition: background .2s ease;

    img.menu.fixed {
      position: fixed;
      top: 3rem;
      left: 2.8rem;

      opacity: 0;
      transition: .2s ease;
    }

    nav {
      width: 26rem;
      height: 100%;
      overflow: auto;
      padding-top: 10rem;

      position: absolute;
      top: 0;
      left: -26rem;
      bottom: 0;

      background: $white;

      transition: .2s ease-out;

      & > div {
        padding: 1.6rem 2.8rem;
        cursor: pointer;

        color: $very_dark_blue;
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }

  //

  &.active {
    .header__container {
      img.menu {
        transform: rotate(180deg);
      }
    }
    div.header__nav {
      width: 100%;
      background: rgba(0,0,0,.75);

      img.menu.fixed {
        opacity: 1;
        z-index: 999;
        transform: rotate(180deg);
      }

      nav {
        left: 0;
      }
    }
  }
}
